CHANGES filter=lfs diff=lfs merge=lfs -text
CMakeLists.txt filter=lfs diff=lfs merge=lfs -text
config.sub filter=lfs diff=lfs merge=lfs -text
libpng-config.in filter=lfs diff=lfs merge=lfs -text
png.h filter=lfs diff=lfs merge=lfs -text
README.android filter=lfs diff=lfs merge=lfs -text
config.guess filter=lfs diff=lfs merge=lfs -text
configure filter=lfs diff=lfs merge=lfs -text
mips filter=lfs diff=lfs merge=lfs -text
pngrtran.c filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
arm filter=lfs diff=lfs merge=lfs -text
AUTHORS filter=lfs diff=lfs merge=lfs -text
depcomp filter=lfs diff=lfs merge=lfs -text
pngusr.dfa filter=lfs diff=lfs merge=lfs -text
pngwtran.c filter=lfs diff=lfs merge=lfs -text
pngbar.jpg filter=lfs diff=lfs merge=lfs -text
pnglibconf.h filter=lfs diff=lfs merge=lfs -text
pngrutil.c filter=lfs diff=lfs merge=lfs -text
pngwio.c filter=lfs diff=lfs merge=lfs -text
pngtrans.c filter=lfs diff=lfs merge=lfs -text
libpng.3 filter=lfs diff=lfs merge=lfs -text
libpngpf.3 filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
ltmain.sh filter=lfs diff=lfs merge=lfs -text
pngbar.png filter=lfs diff=lfs merge=lfs -text
pngread.c filter=lfs diff=lfs merge=lfs -text
autogen.sh filter=lfs diff=lfs merge=lfs -text
Makefile.in filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD_LIKE filter=lfs diff=lfs merge=lfs -text
pnginfo.h filter=lfs diff=lfs merge=lfs -text
pngpriv.h filter=lfs diff=lfs merge=lfs -text
TEST_MAPPING filter=lfs diff=lfs merge=lfs -text
TODO filter=lfs diff=lfs merge=lfs -text
TRADEMARK filter=lfs diff=lfs merge=lfs -text
ANNOUNCE filter=lfs diff=lfs merge=lfs -text
Makefile.am filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
missing filter=lfs diff=lfs merge=lfs -text
png.c filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
install-sh filter=lfs diff=lfs merge=lfs -text
png.5 filter=lfs diff=lfs merge=lfs -text
pngwrite.c filter=lfs diff=lfs merge=lfs -text
aclocal.m4 filter=lfs diff=lfs merge=lfs -text
CleanSpec.mk filter=lfs diff=lfs merge=lfs -text
contrib filter=lfs diff=lfs merge=lfs -text
pngrio.c filter=lfs diff=lfs merge=lfs -text
pngusr.h filter=lfs diff=lfs merge=lfs -text
compile filter=lfs diff=lfs merge=lfs -text
pngset.c filter=lfs diff=lfs merge=lfs -text
pngwutil.c filter=lfs diff=lfs merge=lfs -text
configure.ac filter=lfs diff=lfs merge=lfs -text
INSTALL filter=lfs diff=lfs merge=lfs -text
intel filter=lfs diff=lfs merge=lfs -text
pngdebug.h filter=lfs diff=lfs merge=lfs -text
test-driver filter=lfs diff=lfs merge=lfs -text
libpng-manual.txt filter=lfs diff=lfs merge=lfs -text
pngconf.h filter=lfs diff=lfs merge=lfs -text
pngget.c filter=lfs diff=lfs merge=lfs -text
pngnow.png filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
pngerror.c filter=lfs diff=lfs merge=lfs -text
pngstruct.h filter=lfs diff=lfs merge=lfs -text
pngtest.c filter=lfs diff=lfs merge=lfs -text
powerpc filter=lfs diff=lfs merge=lfs -text
pngmem.c filter=lfs diff=lfs merge=lfs -text
projects filter=lfs diff=lfs merge=lfs -text
config.h.in filter=lfs diff=lfs merge=lfs -text
example.c filter=lfs diff=lfs merge=lfs -text
libpng.pc.in filter=lfs diff=lfs merge=lfs -text
pngpread.c filter=lfs diff=lfs merge=lfs -text
pngtest.png filter=lfs diff=lfs merge=lfs -text
